<div class="container bg-white">
    <div class="image">
        <img src="https://img.freepik.com/free-vector/website-maintenance-abstract-concept-vector-illustration-website-service-webpage-seo-maintenance-web-design-corporate-site-professional-support-security-analysis-update-abstract-metaphor_335657-2295.jpg?size=626&ext=jpg&ga=GA1.2.522834921.1700648147&semt=sph" alt="" class="mx-auto">
    </div>
    <div class="texte ">
        
            <h1 class="text-center">Site en maintenance</h1>
            <p class="text-dark">Nous effectuons actuellement des opérations de maintenance pour améliorer votre expérience. Nous nous excusons pour les désagréments occasionnés.</p>
            <p class="text-dark">Veuillez revenir plus tard. Merci de votre compréhension.</p>
      
    </div>
</div>
